/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body {
	height: 100%;
	margin: 0;
	max-width: 100%;
 }
.main {
	font-family: 'PT Sans Narrow', sans-serif;
	width: 100%;
	min-height: 100%;
	background-color: #FBF7E4;
	overflow: hidden;
	margin: auto;
}
#header {
	width: 100%;
	height: 50px;
	margin: auto;
	text-align: right;
	color: #FBF7E4;
	background-color: #8e001c; /* Old browsers */
	display: inline-block;
	padding-bottom: 0px;
}
#logo {
	color: #FBF7E4;
	width: 100px;
	height: 50px;
	float: left;
	position: relative;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
	font-style: bold;
	padding-top: 10px
}
.container {
	overflow: hidden;
	margin: auto;
	padding: 10px;
	display: block;
	float: left;
}
.right-container {
	width: 500px;
	padding: 5px;
	position: relative;
	float: left;
	display: block;
	overflow: hidden;
}
.wide-container {
	max-width: 100%;
	max-height: 800px;
	overflow: hidden;
}
#welcome-home {
	margin: auto;
	padding: 10px;
	position: absolute;
	top: 150px;
	left: 10px;
	color: #FBF7E4;
	text-shadow: 2px 2px #424242;
}
#last-words {
	text-align: center;
	height: 278px
}
#last-words h1 {
	color: #424242;
	size: 40px;
}
#footer {
	width: 100%;
	height: 70px;
	background-color: #424242;
	color: #FBF7E4;
	clear: both;
    position: fixed;
	bottom: 0;
	padding: 10px 10px 10px 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	text-align: right;
	z-index: 0;
}
#first-page-footer {
	width: 100%;
	height: 70px;
	background-color: #424242;
	color: #FBF7E4;
	clear: both;
    position: absolute;
	bottom: -20;
	padding: 10px 10px 10px 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	text-align: right;
}

ul {
	list-style-type: none;
}
ul li {
	display: inline;
	padding-right: 10px;
	
}
a:link {
	color: #FBF7E4;
	text-decoration:none;
}
a:hover {
	color: #FBF7E4;
	text-decoration: underline;
}
a:visited {
	color: #FBF7E4;
	text-decoration: none;
}
.button {
	padding: 4px;
	width: 100px;
	height: 30px;
	margin: auto;
	background-color: #82001A; 
	position: relative;
	color: #FBF7E4;
	font-style: bold;
	box-shadow: 2px 3px #424242;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	text-align: center;
}

.some-space {
	padding-right: 8px
}
.active {
	background-color: #424242
}
a.blog-link {
	color: #424242;
	font-style: bold;
}
a.blog-link:hover {
	color: #8e001c;
}
a.blog-link:visisted {
	color: #000;
}
.blog-post {
	background-color: #fff;
	padding: 10px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
	max-height: 200px;
	overflow: hidden;
}
.author {
	color: #424242;
	font-size: 11px
}